.main {
  display: grid;
  padding: 3rem;
  min-height: 100vh;
  grid-template-areas:
    "origin"
    "watermark"
    "preview"
    "output";
}

.origin {
  grid-area: origin;
}

.watermark {
  grid-area: watermark;
}

.preview {
  grid-area: preview;
  display: flex;
  flex-flow: column;
}

.previewBox {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.previewBackground {
  position: absolute;
  background-color: green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  margin: auto;
}

.previewWatermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
}

.output {
  grid-area: output;
}

.main>div {
  text-align: center;
  border: 1px;
  border-style: dashed;
}

@media (min-width: 700px) {
  .main {
    padding: 6rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "origin origin watermark watermark"
      "preview preview preview output";
  }
}