.main {
  display: grid;
  padding: 2rem;
  min-height: 100vh;
  grid-template-areas:
    "origin"
    "watermark"
    "output"
    "preview";
  grid-template-rows: repeat(3, 1fr) 7fr; /* 3.各区域 宽高设置 */
  grid-template-columns: 1fr;
}

.origin {
  grid-area: origin;
}

.watermark {
  grid-area: watermark;
}

.preview {
  grid-area: preview;
  display: flex;
  flex-flow: column;
}

.previewBox {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.previewBackground {
  position: absolute;
  background-color: green;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 0;
}

.previewWatermark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 0;
}

.output {
  grid-area: output;
}

.main>div {
  text-align: center;
  border: 1px;
  border-style: dashed;
}

@media (min-width: 700px) {
  .main {
    padding: 4rem;
    grid-template-areas:
      "origin watermark output"
      "preview preview preview ";
    grid-template-rows: 1fr 7fr; /* 3.各区域 宽高设置 */
    grid-template-columns: repeat(3, 1fr);
  }
}